<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329364277976-ksbt879au194bhvmu53ul67llrdegpri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329364277976-ksbt879au194bhvmu53ul67llrdegpri</string>
	<key>API_KEY</key>
	<string>AIzaSyBkOT80CMUY5tMB8c5RgBlJSm4M1Ha5u10</string>
	<key>GCM_SENDER_ID</key>
	<string>329364277976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.torsin.talent</string>
	<key>PROJECT_ID</key>
	<string>torsin-talent</string>
	<key>STORAGE_BUCKET</key>
	<string>torsin-talent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329364277976:ios:82c556a67e5d6a872365ad</string>
</dict>
</plist>